.container {
  padding: 20px;
  direction: rtl;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.addBtn {
  background: #00bfa6;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
}

.tools {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter,
.search {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.search {
  flex: 1;
}
.filter{
    font-size: 22px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.cardActions {
  display: flex;
  gap: 5px;
}

.cardActions button {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.view {
  background: #eee;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input,
.modal select,
.modal textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 20px;
}

.preview img,
.preview video {
  width: 100%;
  border-radius: 10px;
  max-height: 200px;
  object-fit: cover;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
}

.actions button:first-child {
  background: #00bfa6;
  color: white;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .tools {
    flex-direction: column;
  }

  .modal {
    width: 90%;
  }
}